*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 100;
}
h1{
    margin: 30px 0 50px 0;
    text-transform: uppercase;
    color: navy;
    text-align: center;
}
header >ul{
    display: flex;
    background-color: aqua;
    padding: 20px
}
li{
    list-style: none;
    padding: 20px
}
.drop-trigger:hover .drop{
    display: block;
    background-color: rgb(191, 175, 206);
    outline: none;
    position: absolute;
}
.drop{
    display: none;
}